


.margen-top-15{
    margin-top: 15px !important;
}

.letra-25{
    font-size: 25px !important;
}

.text-deco-none{
    text-decoration:none !important;
}

.width-40x100{
    width: 40% !important;
}

.display-inline-block{
    display: inline-block !important;
}